[Desktop Entry]
Name[an]=Transmission - vpn
Name[ar]=ترانزميشن
Name[ast]=Transmission
Name[be]=Transmission
Name[bg]=Transmission
Name[bn]=ট্রান্সমিশন
Name[ca]=Transmission
Name[ca@valencia]=Transmission
Name[ckb]=Transmission
Name[cs]=Transmission
Name[da]=Transmission
Name[de]=Transmission
Name[el]=Transmission
Name[en_AU]=Transmission
Name[en_CA]=Transmission
Name[en_GB]=Transmission
Name[eo]=Transmission
Name[es]=Transmission
Name[et]=Transmission
Name[eu]=Transmission
Name[fa]=ترنسمیشن
Name[fi]=Transmission
Name[fil]=Transmission
Name[fo]=Transmission
Name[fr]=Transmission
Name[fr_CA]=Transmission
Name[gl]=Transmission
Name[he]=‏Transmission
Name[hi]=ट्रांसमिशन
Name[hr]=Transmission
Name[hu]=Transmission
Name[id]=Transmission
Name[is]=Transmission
Name[it]=Transmission
Name[ja]=Transmission
Name[ka]=Transmission
Name[kk]=Transmission
Name[ko]=트랜스미션
Name[ku]=Transmission
Name[ky]=Transmission
Name[li]=Transmission
Name[lt]=Transmission
Name[lv]=Transmission
Name[mk]=Transmission
Name[ms]=Transmission
Name[nb]=Transmission
Name[nl]=Transmission
Name[nn]=Transmission
Name[oc]=Transmission
Name[pl]=Transmission
Name[pt]=Transmission
Name[pt_BR]=Transmission
Name[pt_PT]=Transmission
Name[ro]=Transmission
Name[ru]=Transmission
Name[si]=ට්‍රාන්ස්මිෂන්
Name[sk]=Transmission
Name[sl]=Transmission
Name[sq]=Transmission
Name[sr]=Трансмисија
Name[sv]=Transmission
Name[te]=ట్రాన్స్‍మిషన్
Name[th]=Transmission
Name[tr]=Transmission
Name[ug]=Transmission
Name[uk]=Transmission
Name[uz]=Transmission
Name[vi]=Transmission
Name[zh_CN]=Transmission
Name[zh_HK]=Transmission
Name[zh_TW]=Transmission
Name=Transmission
GenericName[ar]=عميل «بت تورنت»
GenericName[ast]=Veceru de BitTorrent
GenericName[be]=Кліент BitTorrent
GenericName[bg]=BitTorrent клиент
GenericName[bn]=বিটটরেন্ট ক্লায়েন্ট
GenericName[br]=Arval BitTorrent
GenericName[ca]=Client de BitTorrent
GenericName[ca@valencia]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent-klient
GenericName[de]=BitTorrent-Programm
GenericName[el]=Πελάτης BitTorrent
GenericName[en_AU]=BitTorrent Client
GenericName[en_CA]=BitTorrent Client
GenericName[en_GB]=BitTorrent Client
GenericName[eo]=BitTorrent-Kliento
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[eu]=BitTorrent bezeroa
GenericName[fa]=کارخواه بیت‌تورنت
GenericName[fi]=BitTorrent-sovellus
GenericName[fo]=BitTorrent-viðskiftari
GenericName[fr]=Client BitTorrent
GenericName[fr_CA]=Client BitTorrent
GenericName[gl]=Cliente de BitTorrent
GenericName[he]=לקוח ביטורנט
GenericName[hi]=बिट टोरेंट साधन
GenericName[hr]=BitTorrent klijent
GenericName[hu]=BitTorrent-kliens
GenericName[ia]=Cliente de BitTorrent
GenericName[id]=Aplikasi BitTorrent
GenericName[is]=BitTorrent forrit
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[ka]=BitTorrent -ის კლიენტი
GenericName[kk]=BitTorrent қолданбасы
GenericName[ko]=비트토렌트 클라이언트
GenericName[ku]=Daxwazkera BitTorrent
GenericName[ky]=BitTorrent-клиенти
GenericName[li]=BitTorrent-client
GenericName[lt]=„BitTorrent“ klientinė programa
GenericName[lv]=BitTorrent klients
GenericName[mk]=Клиент за BitTorrent
GenericName[ms]=Klient BitTorrent
GenericName[nb]=BitTorrent-klient
GenericName[nl]=BitTorrent-cliënt
GenericName[nn]=BitTorrent-klient
GenericName[oc]=Client BitTorrent
GenericName[pl]=Klient sieci BitTorrent
GenericName[pt]=Cliente BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[pt_PT]=Cliente BitTorrent
GenericName[ro]=Client BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[sk]=BitTorrent klient
GenericName[sl]=BitTorrent odjemalec
GenericName[sq]=BitTorrent Klient
GenericName[sr]=БитТорент програм
GenericName[sv]=BitTorrent-klient
GenericName[te]=బిట్ టోరెంట్ క్లయింటు
GenericName[th]=โปรแกรม BitTorrent
GenericName[tr]=BitTorrent İstemcisi
GenericName[ug]=بىتتوررېنت خېرىدارى
GenericName[uk]=Клієнт BitTorrent
GenericName[uz]=BitTorrent mijozi
GenericName[vi]=Trình khách BitTorrent
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_HK]=BitTorrent 用戶端
GenericName[zh_TW]=BitTorrent 用戶端
GenericName=BitTorrent Client
Comment[ar]=نزّل وشارك ملفات عبر «بت تورنت»
Comment[ast]=Baxar y compartir ficheros per aciu de BitTorrent
Comment[be]=Спампоўванне і раздача файлаў праз BitTorrent
Comment[bg]=Изтегляне и споделяне на файлове чрез BitTorrent
Comment[bn]=সমস্ত BitTorrent এ ফাইল ডাউনলোড এবং অংশগ্রহন করুন
Comment[ca]=Baixeu i compartiu fitxers mitjançant BitTorrent
Comment[ca@valencia]=Baixeu i compartiu fitxers mitjançant el BitTorrent
Comment[cs]=Stahovat a sdílet soubory přes BitTorrent
Comment[da]=Download og del filer via BitTorrent
Comment[de]=Dateien über BitTorrent herunterladen und verteilen
Comment[el]=Λήψη και διαμοιρασμός των αρχείων μέσω του BitTorrent
Comment[en_AU]=Download and share files over BitTorrent
Comment[en_CA]=Download and share files over BitTorrent
Comment[en_GB]=Download and share files over BitTorrent
Comment[eo]=Elŝuti kaj kunhavigi dosierojn per BitTorrent
Comment[es]=Descargue y comparta archivos mediante BitTorrent
Comment[et]=Laadi alla ja levita faile BitTorrenti kaudu
Comment[eu]=Deskargatu eta partekatu fitxategiak BitTorrent bidez
Comment[fa]=بارگیری و هم‌رسانی پرونده‌ها با بیت‌تورنت
Comment[fi]=Lataa ja jaa tiedostoja BitTorrentin avulla
Comment[fo]=Tak niður og deil fílur yvir BitTorrent
Comment[fr]=Télécharger et partager des fichiers avec BitTorrent
Comment[fr_CA]=Télécharger et partager des fichiers avec BitTorrent
Comment[gl]=Descargue e comparta ficheiros a través da rede BitTorrent
Comment[he]=הורדה ושיתוף קבצים ברשת ביטורנט
Comment[hi]=बिट टोरेंट पर फाइलें डाउनलोड कर सहभाजन करें
Comment[hr]=Preuzimajte i dijelite datoteke preko BitTorrenta
Comment[hu]=Fájlok letöltése és megosztása BitTorrenten keresztül
Comment[id]=Unduh dan berbagi berkas melalui BitTorrent
Comment[is]=Sækja og deila skrám með BitTorrent
Comment[it]=Scarica e condivide file via BitTorrent
Comment[ja]=BitTorrent を通じてファイルのダウンロードと共有
Comment[kk]=BitTorrent желісінде файлдарды жүктеңіз және бөлісіңіз
Comment[ko]=비트토렌트를 이용하여 파일을 다운로드 및 공유합니다
Comment[ky]=BitTorrent'тен файлдарды жүктөңүз жана бөлүшүңүз
Comment[li]=Bestanje binnehoalen en deilen via BitTorrent
Comment[lt]=Atsiųskite ir dalinkitės failais per „BitTorrent“
Comment[lv]=Lejupielādēt un dalīties ar datnēm caur BitTorrent
Comment[mk]=Преземете и споделувајте датотеки преку BitTorrent
Comment[ms]=Muat turun dan kongsi fail melalui BitTorrent
Comment[nb]=Last ned og del filer med BitTorrent
Comment[nl]=Bestanden downloaden en delen via BitTorrent
Comment[nn]=Last ned og del filer over BitTorrent
Comment[oc]=Recep e parteja de fichièrs via BitTorrent
Comment[pl]=Pobieranie i udostępnianie plików przez sieć BitTorrent
Comment[pt]=Descarregar e partilhar ficheiros pelo BitTorrent
Comment[pt_BR]=Baixar e compartilhar arquivos pelo BitTorrent
Comment[pt_PT]=Descarregar e partilhar ficheiros pelo BitTorrent
Comment[ro]=Descarcă și partajează fișiere prin BitTorrent
Comment[ru]=Загружайте и обменивайтесь файлами с помощью BitTorrent
Comment[sk]=Sťahujte a zdieľajte súbory cez BitTorrent
Comment[sl]=Prejemajte in dajte datoteke v souporabo preko BitTorrenta
Comment[sq]=Shkarko dhe shpërnda skedarët me BitTorrent
Comment[sr]=Преузимајте и размењујте датотеке преко БитТорент протокола
Comment[sv]=Hämta och dela filer över BitTorrent
Comment[te]=దిగుమతిచేయి మరియు దస్త్రాలను బిట్ టోరెంట్ మీదుగా పంచుకొను
Comment[th]=ดาวน์โหลดและแลกเปลี่ยนแฟ้มผ่าน BitTorrent
Comment[tr]=Dosyaları BitTorrent üzerinden indir ve paylaş
Comment[ug]=بىتتوررېنت ئارقىلىق ھۆججەت چۈشۈرۈش ۋە ھەمبەھىرلەش
Comment[uk]=Завантажуйте та розповсюджуйте файли через BitTorrent
Comment[uz]=BitTorrent orqail fayllarni yuklab olish va bo‘lishish
Comment[vi]=Tải và chia sẻ tập tin qua BitTorrent
Comment[zh_CN]=通过 BitTorrent 下载和共享文件
Comment[zh_HK]=透過 BitTorrent 來下載和分享檔案
Comment[zh_TW]=透過 BitTorrent 協定來下載和分享檔案
Comment=Download and share files over BitTorrent
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=торэнты;спампоўванне;раздача;раздаць;раздача;
Keywords[bg]=торенти;сваляне;качване;споделени;споделяне;
Keywords[ca]=torrents;baixada;pujada;compartir;compartició:pujar:baixar;
Keywords[da]=torrents;download;upload;del;deling;
Keywords[de]=Torrents;Herunterladen;Hochladen;Teilen;
Keywords[el]=torrent;λήψη;αποστολή;μοίρασε;διαμοιρασμός;
Keywords[eo]=torentoj;alŝuti;elŝuti;konigi;
Keywords[es]=torrents;descargando;subiendo;ratio;compartiendo;
Keywords[et]=torrentid;allalaadimised;üleslaadimine;jaga;jagamine;
Keywords[eu]=torrentak;deskargatzen;kargatzen;partekatu;partekatzen;
Keywords[fi]=torrents;downloading;uploading;share;sharing;torrent;tiedostonjako;lataus;
Keywords[fr]=torrents;téléchargement;téléversement;partager;partage;
Keywords[he]=טורנטים;טורנט;הורדה;העלאה;שיתוף;משותף;לשתף;להוריד;להעלות;יניקה;זריעה;
Keywords[hi]=टोरेंट;डाउनलोड;अपलोड;सहभाजन;
Keywords[hr]=torrenti;preuzimanje;slanje;dijeli;dijeljenje;
Keywords[hu]=torrentek;letöltés;feltöltés;megosztás;
Keywords[id]=torrent;mengunduh;mengunggah;berbagi;
Keywords[is]=torrent;sækja;niðurhal;innsending;deila;deiling;
Keywords[it]=torrent;scaricamento;ricezione;caricamento;condividere;condivisione;upload;download;
Keywords[ja]=トレント;ダウンロード中;アップロード中;共有;共有中;
Keywords[lt]=torrentai;atsiuntimas;išsiuntimas;bendrinimas;dalinimas;
Keywords[nb]=torrenter;nedlasting;opplasting;del;deling;
Keywords[nl]=torrents;downloaden;uploaden;deel;delen;
Keywords[oc]=torrents;downloading;uploading;share;sharing;telecargar;partatge;partejar;
Keywords[pl]=torrenty;pobieranie;ściąganie;pobierz;ściągnij;wysyłanie;udostępnianie;wyślij;udostępnij;
Keywords[pt]=torrents;descarregar;baixar;transferir;transferência;enviar;partilhar;partilha;
Keywords[pt_BR]=torrents;baixando;enviando,compartilhar;compartilhando;
Keywords[pt_PT]=torrents;descarregar;baixar;transferir;transferência;enviar;partilhar;partilha;
Keywords[ru]=торренты;скачивание;загрузка;раздать;раздача;
Keywords[sr]=torrents;downloading;uploading;share;sharing;торенти;преузимање;даунлоудовање;отпремање;аплоудовање;дељење;шеровање;preuzimanje;daunloudovanje;otpremanje;aploudovanje;deljenje;šerovanje;
Keywords[sv]=torrenter;hämtar;skickar;dela;delar;
Keywords[tr]=torrentler;indirme;yükleme;gönderme;paylaş;paylaşım;
Keywords[uk]=torrents;downloading;uploading;share;sharing;
Keywords[zh_CN]=torrents;downloading;uploading;share;sharing;种子;下载;上传;分享;共享;
Keywords[zh_TW]=torrents;正在下載;正在上傳;分享;分享中;
Keywords=torrents;downloading;uploading;share;sharing;
Exec=doas namespace transmission-gtk %U
Icon=transmission
Terminal=false
TryExec=doas namespace transmission-gtk
Type=Application
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent
Actions=Pause;Minimize;

[Desktop Action Pause]
Name[be]=Запусціць Transmission з прыпыненымі торэнтамі
Name[bg]=Стартирай Transmission с всички торенти на пауза
Name[ca]=Inicia Transmission amb tots els torrents en pausa
Name[cs]=Spustit Transmission se všemi torrenty pozastavenými
Name[da]=Start Transmission med alle torrents på pause
Name[de]=Mit allen Torrents pausiert starten
Name[el]=Εκκίνηση του Transmission με Όλα τα Torrent σε Παύση
Name[es]=Iniciar con todos los torrents pausados
Name[et]=Käivita Transmission kõikide torrentite seisatud olekuga
Name[eu]=Abiarazi Transmission Torrent guztiak pausatuta mantenduz
Name[fi]=Käynnistä Transmission kaikki torrentit pysäytettyinä
Name[fr]=Démarrer Transmission avec tous les torrents en pause
Name[he]=הפעלת ‏Transmission כשכל הטורנטים מופסקים
Name[hi]=ट्रांसमिशन आरंभ पर सभी टोरेंट स्थगित रखें
Name[hr]=Pokreni Transmission sa svim torentima pauziranim
Name[hu]=A Transmission indítása az összes torrent szüneteltetésével
Name[id]=Mulai Transmission dengan Semua Torrent Dijeda
Name[is]=Ræsa Transmission með allar torrent-skrár í bið
Name[it]=Avvia con tutti i torrent in pausa
Name[ja]=全トレントを停止状態で Transmission を起動
Name[ko]=모든 토렌트를 멈춘 상태로 시작
Name[lt]=Paleisti Transmission pristabdžius visus torentus
Name[nb]=Start Transmission med Alle Torrents i Pause
Name[nl]=Transmission starten met alle torrents gepauzeerd
Name[oc]=Aviar Transmission amb totes los torrents en pausa
Name[pl]=Uruchom ze wstrzymanymi torrentami
Name[pt]=Iniciar o Transmission com todos os torrents em pausa
Name[pt_BR]=Iniciar Transmission Com Todos Os Torrents Pausados
Name[pt_PT]=Iniciar o Transmission com todos os torrents em pausa
Name[ru]=Запустить Transmission с приостановленными торрентами
Name[sr]=Покрени Трансмисију и заустави све торенте
Name[sv]=Starta Transmission med alla torrenter pausade
Name[tr]=Transmission ile Tüm Torrentleri Duraklatılmış Başlat
Name[uk]=Запустити Transmission з призупинкою усіх торентів
Name[zh_CN]=启动 Transmission 时暂停全部任务
Name[zh_TW]=啟動 Transmission 時暫停所有 Torrents
Name=Start Transmission with All Torrents Paused
Exec=doas namespace transmission-gtk --paused

[Desktop Action Minimize]
Name[be]=Запусціць Transmission у згорнутым выглядзе
Name[bg]=Стартирай Transmission минимизиран
Name[ca]=Inicia Transmission minimitzat
Name[cs]=Spustit Transmission minimalizovaný
Name[da]=Start Transmission minimeret
Name[de]=Transmission minimiert starten
Name[el]=Εκκίνηση του Transmission Ελαχιστοποιημένο
Name[eo]=Minimumigi Transmission kiam ĝi komencas
Name[es]=Iniciar Transmission minimizado
Name[et]=Käivita Transmission minimeerituna
Name[eu]=Abiarazi Transmission minimizatua
Name[fi]=Käynnistä Transmission pienennettynä
Name[fr]=Démarrer Transmission réduit
Name[he]=הפעלת ‏Transmission במצב ממוזער
Name[hi]=ट्रांसमिशन संक्षिप्त रूप में आरंभ करें
Name[hr]=Pokreni Trasmission smanjen
Name[hu]=A Transmission indítása minimalizálva
Name[id]=Mulai Transmission Diminimalkan
Name[is]=Ræsa Transmission lágmarkað
Name[it]=Avvia minimizzato
Name[ja]=最小化して Transmission を起動
Name[ko]=트랜스미션을 창이 최소화된 상태로 시작하기
Name[lt]=Paleisti Transmission suskleistą
Name[nb]=Start Transmission Minimert
Name[nl]=Transmission geminimaliseerd starten
Name[oc]=Aviar Transmission redusit
Name[pl]=Uruchom zminimalizowany
Name[pt]=Iniciar o Transmission minimizado
Name[pt_BR]=Iniciar Transmission Minimizado
Name[pt_PT]=Iniciar o Transmission minimizado
Name[ru]=Запустить Transmission в свернутом виде
Name[sr]=Покрени умањену Трансмисију
Name[sv]=Starta Transmission minimerad
Name[tr]=Transmission'ı Küçültülmüş Başlat
Name[uk]=Запустити Transmission згорнутим
Name[zh_CN]=启动 Transmission 时最小化
Name[zh_TW]=啟動 Transmission 時最小化
Name=Start Transmission Minimized
Exec=doas namespace transmission-gtk --minimized
