[Desktop Entry]
Name=Transmission-vpn
Exec=doas namespace transmission-gtk %U
Icon=transmission
Terminal=false
TryExec=transmission-gtk
Type=Application
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent
Actions=Pause;Minimize;

[Desktop Action Pause]
Name=Start Transmission with All Torrents Paused
Exec=doas namespace transmission-gtk --paused

[Desktop Action Minimize]
Name=Start Transmission Minimized
Exec=doas namespace transmission-gtk --minimized
